<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>

  <!--<add name="ehoslapp"
       providerName="Oracle_Managed_DataAccess_Client"
       connectionString="Data Source=
        (DESCRIPTION=
          (ADDRESS=(PROTOCOL=TCP)(HOST=lirr-dbqah.lirr.org)(PORT= 10206))
          (CONNECT_DATA=
            (SERVER=DEDICATED)
            (SERVICE_NAME=QRDB)
          )
        )
      ;User ID=EHOSLAPP;Password=appehosl;Connection Lifetime=120;Connection Timeout=60;Min Pool Size=1;Decr Pool Size=10;Validate Connection=true"/>-->
  <!-- EHOSSE dev db connection -->
  <!--<add name="EHOSSE01"
       providerName="Oracle_Managed_DataAccess_Client"
       connectionString="Data Source=
        (DESCRIPTION=
          (ADDRESS=(PROTOCOL=TCP)(HOST=lirr-dbqah.lirr.org)(PORT= 10201))
          (CONNECT_DATA=
            (SERVER=DEDICATED)
            (SERVICE_NAME=AMSD)
          )
        )
      ;User ID=EHOSSE01;Password=se0914;Connection Lifetime=120;Connection Timeout=60;Min Pool Size=1;Decr Pool Size=10;Validate Connection=true"/>-->

  <!-- EHOSSE stage db connection -->
  <add name="EHOSSE01"
       providerName="Oracle_Managed_DataAccess_Client"
       connectionString="Data Source=
        (DESCRIPTION=
          (ADDRESS=(PROTOCOL=TCP)(HOST=lirr-dbqah.lirr.org)(PORT= 10205))
          (CONNECT_DATA=
            (SERVER=DEDICATED)
            (SERVICE_NAME=QRDA)
          )
        )
      ;User ID=EHOSSE01;Password=CVKQM1BQBS;Connection Lifetime=120;Connection Timeout=60;Min Pool Size=1;Decr Pool Size=10;Validate Connection=true"/>

  </connectionStrings>
