<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--This is for the Disclaimer -->
    <add key="Disclaimer" value="By logging in and certifying my T&amp;E record, I understand that I am not knowingly and/or willfully falsifying a required record. I understand that if an T&amp;E  record is not present, it is my responsibility to add it to ensure my HOS is properly recorded."/>
    
    <!-- Global App Names-->
    <add key="mtaAgencyName" value="LIRR" />
    <add key="appTitle" value="Hours of Service - Dispatch Service Employee" />
    
    <!--ldap connection credentials-->
    <!--<add key="ldapServer" value="auths.lirr.org" />
    <add key="ldapPortNumber" value="636" />
    <add key="ldapUsername" value="cn=proxy_ehos,ou=Services,o=LIRR" />
    <add key="ldapPassword" value="Tr@ns1t1" />
    <add key="ldapBaseDn" value="" />
    <add key="ldapBindTimeoutSeconds" value="5" />-->
    <add key="ldapServer" value="mtabase.transit.nyct.com" />
    <add key="ldapPortNumber" value="636" />
    <add key="ldapUsername" value="cn=S-TestLDAP1,OU=Service Accounts,OU=NYCT,DC=MTABASE,DC=ORG" />
    <add key="ldapPassword" value="oUuE47P" />
    <add key="ldapBaseDn" value="" />
    <add key="ldapBindTimeoutSeconds" value="5" />
    
    <!--set validateUsernamePassword to 1 in production-->
    <add key="validateUsernamePassword" value="1" />
    
    <!--checks ldap properties: account enabled, account locked out, account expiration, password expiration. set to 1 in production-->
    <add key="checkLDAPUserProperties" value="1" />
    
    <!--dialog, list-->
    <add key="DefaultUIAlertMode" value="dialog" />
    
    <!--1 enables view state compression-->
    <add key="enableViewStateCompression" value="1" />
    
    <!-- turn on test log in function if env is "dev" or "stage"-->
    <add key="Environment" value="dev" />
    
    <!-- Each agency can configure its time format to 24hr using agencyCode+"TimeFormat". If not configured, default to use 12hr format-->
    <!--<add key="LIRRTimeFormat" value ="TIME24_FORMAT"/>-->
    <add key="MNRTimeFormat" value="TIME24_FORMAT" />
    
    <!--timeout-->
    <add key="oracleCommandTimeoutSeconds" value="60" />
    <add key="AutoLogoutIntervalSeconds" value="60" />
    <add key="AutoLogoutEnabled" value="1" />
    <add key="AutoLogoutTimeoutSeconds" value="60" />

    <!--oracle command timeout-->
    <add key="oracleCommandTimeoutSeconds" value="60" />
    <!--1 enables System.Web.Optimization and sets BundleTable.EnableOptimizations to true-->
    <add key="enableBundleTableOptimization" value="1" />
    <!--default sort order for certificate reports-->
    <add key="defaultSortCertificateReport" value="JobDate,EmployeeLastName,-AmendedDate" />
    <!--url to various pdf manuals-->
    <add key="passengerCrewbookUrl" value="PDF/PassengerCrewbook.pdf" />
    <add key="roadYardCrewbookUrl" value="PDF/RoadYardCrewbook.pdf" />
    <add key="userManualUrl" value="PDF/eHOSUserManual.pdf" />
    <add key="faqUrl" value="PDF/eHOSFaqs.pdf" />
    <!--crewbook disclaimer text-->
    <add key="passengerCrewbookDisclaimer" value="The crew book you are about to download is in DRAFT form and should only be used as a guide. Revisions are not included." />
    <add key="roadYardCrewbookDisclaimer" value="The crew book you are about to download is in DRAFT form and should only be used as a guide. Revisions are not included." />
    <!--
    The system will display a warning message in red text when the number of 
    uncertified records is greater than or equal to this value
    -->
    <add key="maxUncertifiedRecordsThreshold" value="3" />
    <!--set to 1 to enable password reminder-->
    <add key="enablePasswordExpiryReminder" value="1" />
    <!--display password expiry reminder if days to expiration is less than or equal to this value-->
    <add key="passwordExpiryReminderDays" value="7" />
    <add key="passwordChangeUrl" value="https://sspr.lirr.org/sspr/private/Login" />
    <!--set to 1 for testing purposes only-->
    <!--set to 0 in production-->
    <add key="enableTestLoginPageWithTime" value="1" />
  </appSettings>
  
  <connectionStrings configSource="connectionstrings.config" />

  <location path="Error/Index">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/Index">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <trace enabled="true" pageOutput="false" />
    <compilation debug="true" targetFramework="4.5.2" />   
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" defaultRedirect="/Error" redirectMode="ResponseRewrite" />

    <!--set session to expire AFTER the forms authentication cookie timeout. Also see Global.asax.cs file for Application_PreRequestHandlerExecute 
    <sessionState mode="InProc" timeout="1" />-->

    <authentication mode="Forms">
      <forms name="Workforce.ASPXAUTH" loginUrl="~/Account/Index" defaultUrl="~/Home" protection="All" slidingExpiration="true" timeout="120" />
    </authentication>

    <authorization>
      <!--uncomment this line in production-->
      <!--<allow users="?"/>-->
      <!--<deny users="?" />-->
      <allow roles="MNR DSE GROUP,MNR SE GROUP,LIRR DSE GROUP,LIRR SE GROUP" />
      <deny users="*" />
    </authorization>

    <machineKey decryption="AES" decryptionKey="6BDFE5D756F03DBDDA156182437B46C22DFAEB449586EEB3" validation="SHA1" validationKey="5B00499D6B04CF6F454921FF1FE8EFF318561C6453E17FD943A190566FF945365AC420977668EF7CF8E7DB98ECB1D011DFCA24BC21FD880E6B31CAE1B3F03640" />
    <roleManager enabled="true" defaultProvider="MNRRoleProvider">
      <providers>
        <!--<add name="MNRRoleProvider" type="TEER.Security.AspNetRoleProvider" applicationName="EHOS-LIRR" connectionStringName="ehoslapp" schemaOwner="EHOSL01" packageName="employee_role_pkg" />-->
      <add name="MNRRoleProvider" type="TEER.Security.AspNetRoleProvider" applicationName="EHOS-SE" connectionStringName="EHOSSE01" schemaOwner="EHOSSE01" packageName="employee_pkg" />
      </providers>
    </roleManager>
    
    <httpModules>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_eHosService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
